:root {
  --light-gray-color: hsl(212, 45%, 89%);
  --grayish-blue-color: hsl(220, 15%, 55%);
  --dark-blue-color: hsl(218, 44%, 22%);
  background-color: var(--light-gray-color);
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 28px;
}

.wrapper {
  padding: 16px 16px 40px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

.img {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.heading {
  margin-top: 24px;
  padding: 0 20px;
  font-size: 20px;
  color: var(--dark-blue-color);
}

.desc {
  margin-top: 16px;
  padding: 0 20px;
  font-size: 15px;
  letter-spacing: 0.2px;
  color: var(--grayish-blue-color);
}

@media all and (min-width: 375px) {
  .wrapper {
    width: 320px;
  }
}
